@layer components {
  .text-on-top {
    &__figure {
      @media screen and (min-width: theme("screens.sm")) {
        z-index: 1;
        transform: translateY(3rem);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: theme("colors.secondary");
      padding: 1rem 0;
      background-color: theme("colors.primary");

      @media screen and (min-width: 17rem) {
        position: absolute;
        top: 0;
        min-height: 30%;
      }

      @media screen and (min-width: theme("screens.sm")) {
        right: 0;
        height: 100%;
      }
    }

    &__text {
      @media screen and (min-width: theme("screens.sm")) {
        align-self: flex-end;
      }
    }
  }
}